doctype html
html(lang = "en")
  head
    title Chris' Site
    link(href='css/normalize.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='http://fast.fonts.com/cssapi/3cc0fcc3-d969-4d9c-a184-0ce79e5cd95e.css')
    link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300', rel='stylesheet', type='text/css')


  body
    div.intro
      ul.titlenav
        p#myname Christopher Chan 
        p ECS 163: Information Interfaces

    div.image
      p#imagetitle Piazza's UI        
      img#coverimage(src='cover.png', alt='piazza_ui')

    div.summary
      p The image shown above is a screenshot of Piazza's main interface for students. In this particular image, I have clicked in to a question on the side to show what students usually see when searching or answering a question.
      
      p What's great about Piazza's interface is that it's quite straight forward. Some buttons are highlighted in blue to show the main interactions that a student will mainly use. What's also nice about this is that it enables students to find what they need almost right away. Another thing that I think was good about the UI was that the color coding on the sidebar (where red means the question has yet to be answered, yellow is the current thread that the user is currently viewing and so on).
      
      p However, I feel that Piazza's UI could be improved with several things. First, there too many boxes on the threads and the icons denoting who answered what are too small. This makes it hard to see who answered who. I understand that the boxes on the threads are used to seperate the questions from the answers. This can be fixed by getting rid of the boxes and just seperating the posts by color (as in color coding the background of the posts). This gets rid of the many lines (which make seem cluttered) and allows people to see what they're looking for more easily as people can visualize implicit boxes through color separation. Second, the words and the bars for dates posted on the side bar are too late. It causes viewer to focus a bit harder to make out the words on the date bars. This can be easily fixed by changing the color of the bars and the words.
