doctype html
html(lang = "en")
  head
    title Reddit Visualization
    link(href='css/autocompletestyle.css', rel='stylesheet')
    link(href='css/normalize.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='http://fast.fonts.com/cssapi/3cc0fcc3-d969-4d9c-a184-0ce79e5cd95e.css')
    link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300', rel='stylesheet', type='text/css')
    link()


  body
    div.intro
      ul.titlenav
        p#myname Christopher Chan and James Tam
        p#title Visualization of Top Reddit Posts
        p What attributes to becoming a top ranking post?

    //- div.image
    //-   p#imagetitle Piazza's UI        
    //-   img#coverimage(src='cover.png', alt='piazza_ui')

    div.usermenu
        #autocomplete(style='width:100%; height:100%;')

    //- div.chart1.col-8half
    //-     p Hello Bitches




    script(src="js/d3.v3.min.js")
    script(src="js/autocomplete.js")
    script(src="js/script.js")
