doctype html
html(lang = "en")
  head
    title Reddit Visualization
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    link(href='css/autocompletestyle.css', rel='stylesheet')
    link(href='css/normalize.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='http://fast.fonts.com/cssapi/3cc0fcc3-d969-4d9c-a184-0ce79e5cd95e.css')
    link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300', rel='stylesheet', type='text/css')


  body
    div.intro
      ul.titlenav
        p#myname Christopher Chan and James Tam
        p#title Visualization of Top Reddit Posts
        p What attributes to becoming a top ranking post?

    //- div.image
    //-   p#imagetitle Piazza's UI        
    //-   img#coverimage(src='cover.png', alt='piazza_ui')

    div.usermenu.col-3
        //- #autocomplete(style='width:100%; height:100%;')
        label(for='autocomp') Search Subreddits:
        input#autocomp
    div.bubblecloud
        #bubblecloudvis
        #status
    div#barchart
        #barchartvis

    //- div.chart1.col-8half
    //-     p Hello Bitches



    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(src="js/d3.v3.min.js")
    script(src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js")
    script(src="js/autocomplete.js")
    script(src="js/script.js")
