doctype html
html(lang = "en")
  head
    title Reddit Visualization
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    link(href='css/autocompletestyle.css', rel='stylesheet')
    link(href='css/normalize.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='http://fast.fonts.com/cssapi/3cc0fcc3-d969-4d9c-a184-0ce79e5cd95e.css')
    link(href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300', rel='stylesheet', type='text/css')


  body
    div.intro
      ul.titlenav
        p#myname Christopher Chan and James Tam
        p#title Visualization of Top Reddit Posts
        p What attributes to becoming a top ranking post?
    div.usermenu
        label(for='autocomp') Search Subreddits:
        input#autocomp
    div.bubblecloud
        #bubblecloudvis
    div#barchart
        #barchartvis
    div#heatmap
        #heatmapsvg
    div#titlelist
    div#historylist
    div.summary
        h3 Getting Started
        p Search for a subreddit. How about "AskReddit" to get started?
        p
          | The Bubble Cloud shows words and their 
          a(href='https://en.wikipedia.org/wiki/Tf%E2%80%93idf') tf-idf score
          | . Click and hold on a bubble and start dragging it around! Click on a bubble to view what posts had the word.
        p
          | The Bar Chart shows the top 25 words and their average score in the particular subreddit. Hover over a bar to see the average score. Click a bar to  view what posts had the word.
        p
          | The Heat Map shows when a subreddit has little or lots of scoring. Study this to see when's a good itme to post!
        p
          | The top table shows which post titles the selected word comes from, and the posts' scores. The bottom table is a history of what you have selected.




    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(src="js/d3.v3.min.js")
    script(src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js")
    script(src="js/autocomplete.js")
    script(src="js/script.js")
